body{
  margin: 0;
  padding: 0;
  font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

#cabecera {
  background: #336BFF;
  background: -moz-linear-gradient(#336BFF,#3396FF);
  background: -webkit-linear-gradient(#336BFF,#3396FF);
  background: -o-linear-gradient(#336BFF,#3396FF);
  background: -ms-linear-gradient(#336BFF,#3396FF);
  background: linear-gradient(#336BFF,#3396FF);
  text-align: center;
  height: 67px;
  background-image: url(../img/fondo_cabecera.png);
}

#logo {
  padding: 5px;
  color: #fff;
}

#logo h{
  font-size: 25px;
  font-family: fantasy;
}

#menu-header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index:1;
}

#submenu {
  padding-top: 115px;
  padding-right: 25px;
  float: rigth;
  text-align: right;
  font-size: 12px;
}

#submenu .activo{
  font-weight: bold;
}

#submenu a{
  text-decoration: none;
}

#contenedor header {

  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
  color: #336BFF;
}

#comparador{
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

#comparador input {
  text-align: center;
  font-size: 12px;
}
