body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
}

#cabecera {
  background: #336BFF;
  background: -moz-linear-gradient(#336BFF,#3396FF);
  background: -webkit-linear-gradient(#336BFF,#3396FF);
  background: -o-linear-gradient(#336BFF,#3396FF);
  background: -ms-linear-gradient(#336BFF,#3396FF);
  background: linear-gradient(#336BFF,#3396FF);
  text-align: center;
  height: 67px;
  background-image: url(../img/fondo_cabecera.png);
}

#logo {
  padding: 5px;
  color: #fff;
}

#logo h{
  font-size: 25px;
  font-family: fantasy;
}

#menu-header {
  width: 100%;
  position: fixed;
  z-index:1;
}

#submenu {
  padding-top: 3em;
  /*padding-top: 80px;*/
  padding-right: 25px;
  float: rigth;
  text-align: right;
  font-size: 12px;
}

#submenu .activo{
  font-weight: bold;
}

#submenu .desactivo{
  color: #d9d8d8 ;
}


#submenu a{
  text-decoration: none;
}

#contenedor header {

  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
  color: #0A5597;
}

#comparador{
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

#comparador input {
  text-align: center;
  font-size: 12px;
}

#recuadroTitular {
  width: 48%;
  margin: 1;
  float:left;
  background-color: #0A68F4;
  color: white;
  margin-top:0.5em;
}

#recuadro {
  width: 48%;
  height: 400px;
  margin: 1;
  float:left;
}

#recuadroMemoria {
  width: 48%;
  height: 400px;
  margin: 1;
  float:left;
  width:97.9%;
  margin-top:0.5em;
}

#recuadroCpu {
  width: 48%;
  height: 250px;
  margin: 1;
  float:left;
  width:97.9%;
  margin-top:0.5em;
}

#cabeceraGrafico{
  margin-bottom: -20px;
}
