.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 45px;
  background: #3396FF;
  background: -moz-linear-gradient(#3396FF,#336BFF);
  background: -webkit-linear-gradient(#3396FF,#336BFF);
  background: -o-linear-gradient(#3396FF,#336BFF);
  background: -ms-linear-gradient(#3396FF,#336BFF);
  background: linear-gradient(#3396FF,#336BFF);
  border-top: 1px solid #fff;
  /*z-index: 1;*/

}

  .menu br {
    display: none;
  }

  .menu li {
    display: block;
    float: left;
    height: 45px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-right: 1px solid #fff;
  }

    .menu li a {
      color: #EEE;
      display: block;
      font-size: 13px;
      font-weight: bold;
      line-height: 28px;
      padding: 0 14px;
      margin: 6px 0;
      text-decoration: none;
      -webkit-transition: color .2s ease-in-out;
      -moz-transition: color .2s ease-in-out;
      -o-transition: color .2s ease-in-out;
      -ms-transition: color .2s ease-in-out;
      transition: color .2s ease-in-out;
    }

      .menu li a:hover {
        color: #03399E;
      }
      .menu li:hover > ul{
        opacity: 1;
      }


  .menu ul {
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 45px;
        background: #336BFF;
        background: -moz-linear-gradient(#336BFF,#3396FF);
        background: -webkit-linear-gradient(#336BFF,#3396FF);
        background: -o-linear-gradient(#336BFF,#3396FF);
        background: -ms-linear-gradient(#336BFF,#3396FF);
        background: linear-gradient(#336BFF,#3396FF);
        -moz-transition: opacity .25s ease .1s;
        -webkit-transition: opacity .25s ease .1s;
        -o-transition: opacity .25s ease .1s;
        -ms-transition: opacity .25s ease .1s;
        transition: opacity .25s ease .1s;
  }

    .menu ul li{
      height: 0;
      overflow: hidden;
      padding: 0;
      -moz-transition: height .25s ease .1s;
      -webkit-transition: height .25s ease .1s;
      -o-transition: height .25s ease .1s;
      -ms-transition: height .25s ease .1s;
      transition: height .25s ease .1s;
    }

      .menu li:hover > ul li{
        height: 35px;
        overflow: visible;
        padding: 0;
      }

      .menu ul li a{
        border: none;
        border-bottom: 1px solid #fff;
        margin: 0;
        width: 200px;
        text-align: left;
      }

        .menu ul li:last-child a {
          border: none;
        }
